$color-primary: #3fa796;

.btn {
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  background-color: $color-primary;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
