form {
  padding: 20px;
  width: 350px;
  .form-group div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    label {
      margin-right: 25px;
    }
    input {
      padding: 5px 10px;
      border: 2px solid rgb(145, 145, 145);
    }
  }
  select {
    padding: 5px 10px;
    border: 2px solid rgb(145, 145, 145);
  }

  #switcher {
    display: block;
    padding-top: 30px;
  }
}
