@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  padding: 0 20px;
  height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
